@import url(./__cover--darkened/similarmovie__cover--darkened.css);
@import url(./__cover-inner/similarmovie__cover-inner.css);
@import url(./__cover/similarmovie__cover.css);
@import url(./__title/similarmovie__title.css);

.similarmovie {
    width: 240px;
    margin: 10px;
    position: relative;
}