.header__search {
    height: 40px;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    padding: 2px;
    border: 2px solid #1a191f;
    border-radius: 5px;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}