@import url(./__btns/popup__btns.css);
@import url(./__close/popup__close.css);
@import url(./__content/popup__content.css);
@import url(./__description/popup__description.css);
@import url(./__ganer/popup__ganer.css);
@import url(./__image/popup__image.css);
@import url(./__is-opened/popup__is-opened.css);
@import url(./__movie-infor/popup__movie-infor.css);
@import url(./__movie-similar/popup__movie-similar.css);
@import url(./__movie-url/popuo__movie-url);
@import url(./__movieurl/popup__movieurl.css);
@import url(./__movieurls/popup__movieurls.css);
@import url(./__movieurls-item/popup__movieurls-item.css);
@import url(./__movieurls-item-img/popup__movieurls-item-img.css);
@import url(./__movieurls-item-url/popup__movieurls-item-url.css);
@import url(./__platform/popup__platform);
@import url(./__release-year/popup__release-year.css);
@import url(./__runtime/popup__runtime.css);
@import url(./__similar/popup__similar.css);
@import url(./__title/popup__title.css);

.popup {
	display: block;
	visibility: hidden;
	background-color: rgba(0, 0, 0, .5);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 10;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 40px;
	transition-property: opacity, visibility;
	transition-timing-function: ease;
	transition-duration: 0.5s;
}